<div class="container pt-5">
  <h4>List Piagam Juara</h4>

  <% Sertification.list_contests.each do |key, value| %>
    <p class="card-description"><%= link_to "Print Piagam Penghargaan #{key}", export_sertification_sertifications_path(format: 'pdf', list_contest: key), target: true %></p>
  <% end %>

  <p class="card-description"><%= link_to "PRINT JUARA UMUM", export_jumum_sertifications_path(format: 'pdf'), target: true %></p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Nama File</th>
        <th scope="col">Tingkat</th>
        <th scope="col">Mata Lomba</th>
      </tr>
    </thead>
    <%= no_table_record(@sertifications, '4') %>
    <tbody>
      <% @sertifications.each do |sertification| %>
        <%= render partial: 'sertifications/sertification', locals: { sertification: sertification } %>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div id="show-modal"></div>